# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Image-box.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rd90\source\repos\Image-box\.idea\.idea.Image-box\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
